  body {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  h1{
    font-size: 24pt;
    text-align: center;
    margin-right: 5%;
    font-family: "Andale Mono", monospace;
  }
  .firstname{
    letter-spacing:5px;
  }
  #footer{
    position: fixed;
    font-size: 10pt;
    bottom: 0;
    width: 100%;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/background-wide.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  
  .background .water {
    position: absolute;
    background-image: url("../images/seamap-wide.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: url("#turbulence");
    z-index: -1;
    
  }
  .pages{
    margin-left: 5%;
    position: absolute;
    font-family: "Andale Mono", monospace;
    font-size: 10pt;
    display: inline-block;
    width: 800px;
    margin-top: 1.5%;
  }
  .page{
    display: inline;
    margin-right: 2%;
  }
  .page:hover{
    font-weight: 600;
    cursor: pointer;
  }
  .ref:hover ~ .background .water{
    filter:none;
  }
  .slider:hover ~ .background .water{
    filter:none;
  }

  .social{
    position: absolute;
    padding: 5px;
    margin-right: 30px;
    display: inline-block;
    right: 7%;
    width: 250px;
  }
  .logos{
    border-radius: 50%;
    margin-right: 12%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    object-fit: cover;
  }
  .logos:hover {
    opacity: 0.7;
  }

  .slider {
    margin-top: 14%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    background-image: linear-gradient(white, gainsboro);
    color: black;
    transition: all 1.5s;
    font-family: "Andale Mono", monospace;
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
  }

  .enlarged {
    margin-top: 5%;
  }

  .slider{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
  }
  
  .slider.close {
    top: 100%;
    height: 0;
  }

  .slow{
    color: rgba(3, 3, 3, 0.582);
    font-style: italic;
    font-size: 11pt;
    margin-left: 5%;
  }
  .background .water:target{
    filter:none;
  }

  #igloo, #redsea, #covid{
    width: 90%;
    height: 100%;
  }

  @media only screen{
    .pages{
      display: block;
      width: 80%;
      margin-top: 3.5%;
      top: 15%;
    }
    .page{
      display: block;
    }
  }